<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GetRDF</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/lib/jquery-1.11.3.min.js"></script>   
    <script src="/static/js/lib/bootstrap.min.js"></script>    
    <script src="/static/js/lib/angular.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
<style>
 /* #csvFile {
    display: none;
  }*/
</style>
  <body ng-app="formApp" ng-controller="formCtrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">GetRDF</a>
        </div>
      </div>
    </nav>
<div id="input_form" >
   <form class="form-horizontal" role="form" action="/process" method="post" enctype=multipart/form-data>
    <div id='general' class="col-md-6">
      <div class="form-group">
          <label class="control-label col-md-4">File:</label>
          <div class="col-md-8">
            <input id="fc" type="checkbox" ng-model="checked" ng-init="checked=true" title="Check to upload directories" ng-change="checkChanged()">
            <input type="file" id="csvFile" name="file[]" ng-model="fileName"
            onchange="angular.element(this).scope().fileChanged(this)" accept=".csv,.txt" multiple webkitdirectory>
            <!-- <button class="btn btn-primary btn-file" ng-click="">File</button> -->
           <!--  <input type="file" id="folder" multiple webkitdirectory ng-model="fileName"
            onchange="angular.element(this).scope().folderChanged()" /> -->
             <select ng-model="file" name="fileSelect" ng-options="file.webkitRelativePath || file.name for file in filelist" ng-value="file.name" ng-change="fileSelectChanged()" ng-show="filelist.length>0"><option value="">Choose a file</option></select>
            <!-- <select id="filelist" ng-model="file" ng-show="filelist.length" ng-change="fileSelectChanged()">
              <option value="">Choose a file</option>
              <option ng-repeat="file in filelist" >
                <span>{[file.webkitRelativePath || file.name]}</span> -->
                 <!-- (<span ng-switch="file.size > 1024*1024">
                    <span ng-switch-when="true">{[file.size / 1024 / 1024 | number:2]} MB</span>
                    <span ng-switch-default>{[file.size / 1024 | number:2]} kB</span>
                </span>) -->
             <!--  </option> 
            </select> -->
          </div>
        </div>
        <div class="form-group">
        <label class="control-label col-md-4">CSV Text:</label>
        <div class="col-md-8">
          <textarea class="form-control" id="inputText" name="inputCSV" ng-model="csvText" rows="10"></textarea>
        </div>
       </div>
       <div class="form-group">
           <label class="control-label col-md-4">Delimiter</label>
           <div class="col-md-4">
              <select class="form-control" name="delimiterSelect" id="delimiter" ng-model="delimiter.select">
              <option ng-repeat="option in delimiter.availableOptions" value="{[option.value]}">{[option.name]}</option>
              </select>
          </div>
       </div>
       <div class="form-group">
           <label class="control-label col-md-4">Unicode</label>
           <div class="col-md-4">
             <!-- <select class="form-control" name="unicode" ng-model="unicode.select"
              ng-options="option.value for option in unicode.availableOptions track by option.id"><option>{[option.value]}</option></select> -->
              <select class="form-control" name="unicode" ng-model="unicode.select">
                <option ng-repeat="option in unicode.availableOptions track by option.id" value="{[option.value]}">{[option.value]}</option>
              </select>
          </div>
       </div>
       <div class="form-group">
          <label class="control-label col-sm-4">Header Line</label>
            <div class="col-md-4">
            <input type="number" class="form-control" ng-model="headerline" name="header" id="header">
          </div>
      </div>
       <div class="form-group">
          <label class="control-label col-sm-4">Entity Prefix</label>
            <div class="col-md-8">
            <input type="text" class="form-control" ng-model="entityPrefix" id="entity" name="entity">
          </div>
       </div>

       <div class="form-group">
        <label class="control-label col-md-4">Subject Prefix:</label>
        <div class="col-md-8">
          <input class="form-control" ng-model="subjPrefix" name="subjPrefix" rows="3" placeholder="subject"></input>
        </div>
       </div>
        <div class="form-group">
        <label class="control-label col-md-4">Predicate Prefix:</label>
        <div class="col-md-8">
          <input class="form-control" ng-model="predPrefix" name="predPrefix" rows="3" placeholder="predicate"></input>
        </div>
       </div>

          <div class="form-group">
          <label class="control-label col-sm-4">Start line</label>
            <div class="col-md-4">
            <input type="number" class="form-control" name="start" ng-model="startline">
          </div>
       </div>
       <div class="form-group">
          <label class="control-label col-md-4">End line</label>
            <div class="col-md-4">
            <input type="number" class="form-control" name="end" ng-model="endline" ng-value="datalength" >
            <span>(total: {[ttline]} lines)</span>
          </div>  
       </div>
       <div class="form-group">
        <label class="control-label col-md-4">Prefix Namespace:</label>
        <div class="col-md-8">
          <textarea class="form-control" ng-model="namespace" id="namespace" name="namespace" placeholder="@prefix" rows="3" ></textarea>
        </div>
      </div>
    </div>
    
    <!-- <div class="form-group"> 
        <div class="col-md-offset-4 col-md-8">
           <button type="submit" class="btn btn-default" id="submit" name="my-form" value="Send">Submit
        </div>
    </div> -->
<!-- </form> -->
<!-- </div>
 -->
    <div id="result_field" class="col-md-6">
      <!-- <div id='field' class='form-group'> -->
      <div id="ontoSparql" class="panel panel-default" style="height:300px;overflow:scroll">
        <div class="panel-heading"> 
          <div class="input-group">
          <input type="text" class="form-control" name="owlURI" ng-model="owlURI" placeholder="Import Published OWL">
          <input name="queryURL" ng-model="queryUrl" style="display:none"></input>
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="owlSparql()">Query</button>
         </span>
        </div>
       <span class="label label-danger">Make sure your sparql endpoint is open</span>
        </div>
        <table class="table table-striped" name="ontotable" id="owl">
              <thead>
                <tr>
                  <th>ontology</th>
                  <th>label</th>
                  <th>comment</th>
                </tr>
              </thead>
               <tbody>
                 <tr ng-repeat="i in onto">
                  <td>{[i.value]}</td>
                  <td>{[i.label]}</td>
                  <td>{[i.comment]}</td>
                </tr>
               </tbody>
            </table>
      </div>
      <div class="panel panel-default" style="height:300px;overflow:scroll">
         <div class="panel-heading">Spreadsheet Preview</div>
          <table class="table table-striped" name="table" id="predicate">
              <thead>
                <tr>
                  <th>#</th>
                  <th ng-repeat="i in header">{[i.name]}
                    <select name="datatype" ng-model="i.typeId" ng-options="type.id as type.name for type in datatype" ng-change="updateHeader()"></select>
                    <select name="onto" ng-model="i.ontoId" ng-options="ontology.id as ontology.label for ontology in onto" ng-change="updateHeader()"></select>
                  </th>
                </tr>
              </thead>
               <tbody>
                 <tr ng-repeat="i in data">
                  <td>{[$index+1]}</td>
                  <td ng-repeat="j in i track by $index">{[j]}</td>
                </tr>
               </tbody>
            </table>
      </div>
      <div id="RDF_output">
        <!-- <form class="form" role="form" action="/process" method="post" enctype=multipart/form-data> -->
          <div class="form-group">
            <label class="control-label">Turtle File:</label>
            <textarea class="form-control" name="outputRDF" ng-model="turtle" rows="20" id="result" readonly></textarea>
          </div>
        <!-- </form> -->
      </div> 
    </div>
    <div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
            <button type="submit" class="btn btn-success" name="download" value="currentFile">
              <span class="glyphicon glyphicon-download-alt"></span>
              Download Current File(.ttl)
            </button>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary" name="download" value="allFile">
              <span class="glyphicon glyphicon-download-alt"></span></span> Download to One File(.ttl)</button>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary" name="download" value="multiFile">
              <span class="glyphicon glyphicon-download-alt"></span></span>
              Download to Multiple Files(.zip) </button>
          </div>
    </div>
  </form>
</div>

<!--    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">File</label>
        <div class="col-sm-4">
          <input type="file" file-reader="fileContent" />
        </div>
      </div>
       <div class="form-group">
        <label class="col-sm-2 control-label">Choose a Delimiter</label>
          <div class="col-sm-2">
            <select class="form-control" name="delimiterSelect" id="delimiter" ng-model="delimiter.defaultSelect">
            <option ng-repeat="option in delimiter.availableOptions" value="{[option.id]}">{[option.name]}</option>
             </select>
        </div>
      </div>
    </form> -->
  </body>

</html>
